<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>个人信息中心</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" src="../static/js/menu.js" th:src="@{/js/menu.js}"></script>
    <script type="text/javascript" src="../static/js/general_help.js" th:src="@{/js/general_help.js}"></script>
    <style rel="stylesheet">

        .search .search_row{
            background-color: rgb(245,245,245);
            height:auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .table_body thead{
            background-color:rgb(224,224,224) ;
            font-weight: 800;
        }
        .position ol{
            background-color: white;
        }

        .modify_btn_div{
            font-size: larger;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>

    <script type="application/javascript">
        $(document).ready(function () {
            changeModelDiv();
            validateForm1();
            validateForm2();
            sendEmailValidateCode();
            submitBasicInfo();
            submitPasswordInfo();
        });

        function changeModelDiv(){
            $("#basic_info_model").show();
            $("#password_model").hide();

            $("#modify_basic_info_href").click(function(){
                $("#basic_info_model").show();
                $("#password_model").hide();
            });

            $("#modify_passwd_href").click(function(){
                $("#basic_info_model").hide();
                $("#password_model").show();
            });
        }

        function validateForm1(){
            $("#basic_info_model_form").validate({
                //realName   contactNumber   email  email_validate_code
                rules:{
                    realName:{
                      required:true,
                      maxlength:30,
                    },
                    contactNumber:{
                        required:true,
                        number:true,
                        minlength:11,
                        maxlength:11,
                    },
                    email:{
                        required:true,
                        email:true,
                    },
                    email_validate_code:{
                        required:true,
                    },
                },
                messages:{
                    realName:{
                        required:"姓名不能为空",
                        maxlength:"姓名长度不能超过30",
                    },
                    contactNumber:{
                        required:"联系电话不能为空",
                        number:"电话必须都为数字",
                        minlength:"长度为11位",
                        maxlength:"长度为11位",
                    },
                    email:{
                        required:"邮箱不能为空",
                        email:"邮箱格式不正确",
                    },
                    email_validate_code:{
                        required:"邮箱验证码不能为空",
                    },

                },
                errorPlacement : function(error, element) {
                    if(element.is("#realName"))
                        error.appendTo($("#v_realName"));
                    else if(element.is("#contactNumber"))
                        error.appendTo($("#v_contactNumber"));
                    else if(element.is("#email"))
                        error.appendTo($("#v_email"));
                    else if(element.is("#email_validate_code"))
                        error.appendTo($("#v_email_validate_code"));
                    else
                        ;
                },
            })
        }

        function validateForm2(){
            $("#password_model_form").validate({
                //new_password    repassword
                rules:{
                    new_password:{
                        required:true,
                        minlength:5,
                        maxlength:30,
                    },
                    repassword:{
                        required:true,
                        equalTo:"#new_password",
                        minlength:5,
                        maxlength:30,
                    },

                },
                messages:{
                    new_password:{
                        required:"新密码不能为空",
                        minlength:"最小长度为5",
                        maxlength:"最大长度为30",
                    },
                    repassword:{
                        required:"重复密码不能为空",
                        equalTo:"两次密码输入不一致",
                        minlength:"最小长度为5",
                        maxlength:"最大长度为30",
                    },

                },
                errorPlacement : function(error, element) {
                    if(element.is("#new_password"))
                        error.appendTo($("#v_new_password"));
                    else if(element.is("#repassword"))
                        error.appendTo($("#v_repassword"));
                    else
                        ;
                },
            })
        }

        function sendEmailValidateCode(){
            //emailVerify_btn
            $("#emailVerify_btn").click(function(){
                if($("#email").valid() == false) return;
                var email = $("#email").val();
                $.ajax({
                    type: "GET",
                    url: "/sendVerifyCodeMail?emailTo="+email,

                    beforeSend: function(XMLHttpRequest){
                    },

                    success: function(data){
                        var status = data.code;
                        var msg = data.msg;
                        if(status == "200")
                            model_tip_show('model_tip','model_tip_content','系统已发送邮箱验证码，请查收');
                        else if(status ==  "500")
                            model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试');
                        else
                            model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试');
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                });
            })
        }

        function submitBasicInfo(){
            //  realName   contactNumber   email  email_validate_code   modify_basic_info_btn
            $("#modify_basic_info_btn").click(function(){
                var status = $("#basic_info_model_form").valid();
                if(status == false) return;
                $.ajax({
                    type: "POST",
                    url: "../static/testHttpDate.json",
                    contentType: "application/json",

                    data: JSON.stringify({
                        "realName": $("#realName").val(),
                        "phoneNumber": $("#contactNumber").val(),
                        "email": $("#email").val(),
                        "mailVerifyCode": $("#email_validate_code").val(),

                    }),

                    beforeSend: function(XMLHttpRequest){
                    },

                    success: function(data){
                        var status = data.code;
                        var msg = data.msg;
                        if(status == "200")  //学生注册成功
                            model_tip_show('model_tip','model_tip_content','信息保存成功',refreshToBaseInfoModifyPage);
                        else if(status == "500")  //服务器原因失败
                            model_tip_show('model_tip','model_tip_content','服务器繁忙，请稍后再试');
                        else
                            model_tip_show('model_tip','model_tip_content','服务器繁忙，请稍后再试');
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                });
            })
        }

        function submitPasswordInfo(){
            // new_password  repassword   modify_passwd_btn
            $("#modify_passwd_btn").click(function(){
                var status = $("#password_model_form").valid();
                if(status == false) return;
                $.ajax({
                    type: "POST",
                    url: "../static/testHttpDate.json",
                    contentType: "application/json",

                    data: JSON.stringify({
                        "password": $("#new_password").val(),
                        "repeatPassword": $("#repassword").val(),

                    }),

                    beforeSend: function(XMLHttpRequest){
                    },

                    success: function(data){
                        var status = data.code;
                        var msg = data.msg;
                        if(status == "200")  //学生注册成功
                            model_tip_show('model_tip','model_tip_content','信息保存成功',refreshToBaseInfoModifyPage);
                        else if(status == "500")  //服务器原因失败
                            model_tip_show('model_tip','model_tip_content','服务器繁忙，请稍后再试');
                        else
                            model_tip_show('model_tip','model_tip_content','服务器繁忙，请稍后再试');
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                });
            })
        }

        function refreshToBaseInfoModifyPage(){

        }

    </script>

</head>
<body>

<div class="info_form">
    <div class="modify_btn_div">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <a href="#" id="modify_basic_info_href">修改基本信息</a>
            </div>
            <div class="col-md-1">
                <a href="#" id="modify_passwd_href">修改密码</a>
            </div>
        </div>
    </div>


    <div id="modify_info_frame">

        <div id="basic_info_model">
            <form class="form-horizontal" id="basic_info_model_form" role="form" style="margin-top: 20px">
                <div class="form-group">
                    <div class="col-sm-3 _text_right input_tip"><label>身份:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <select disabled="disabled" class="form-control" id="role" name="role">
                            <option value="" selected="selected">请选择</option>
                            <option value="学生">学生</option>
                            <option value="学院教务员">学院教务员</option>
                            <option value="学院教务员">学校管理员</option>
                        </select>

                    </div>
                    <div class="col-sm-4 validate_warn" id="v_role"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>学号/教职工号:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" disabled="disabled" class="form-control" id="userId" name="userId" placeholder="学号/教职工号">
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_idnumber"></div>
                </div>


                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>姓名:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="realName" name="realName" placeholder="姓名">
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_realName"></div>
                </div>


                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>联系方式:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="联系方式">
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_contactNumber"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>邮箱:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="email" name="email" placeholder="邮箱">
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_email"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>邮箱验证码:</label></div>
                    <div class="col-sm-3" style="margin-left: -12px">
                        <input type="text" class="form-control" id="email_validate_code" name="email_validate_code" placeholder="邮箱验证码">
                    </div>
                    <div class="col-sm-2" style="margin-left: -12px">
                        <button type="button" id="emailVerify_btn" class="btn btn-default">发送邮箱验证码</button>
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_email_validate_code"></div>
                </div>


                <div class="form-group" style="margin-top: 30px">
                    <div class="col-sm-offset-3 col-sm-5">
                        <button type="button" id="modify_basic_info_btn" class="btn btn-primary btn-lg btn-block">保存以上基本信息</button>
                    </div>
                </div>

            </form>
        </div>

        <div id="password_model">
            <form class="form-horizontal" id="password_model_form" role="form" style="margin-top: 20px">
                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>新密码:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="new_password" name="new_password" placeholder="新密码">

                    </div>
                    <div class="col-sm-4 validate_warn" id="v_new_password"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>确认新密码:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="repassword" name="repassword" placeholder="确认新密码">
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_repassword"></div>
                </div>


                <div class="form-group" style="margin-top: 30px">
                    <div class="col-sm-offset-3 col-sm-5">
                        <button type="button" id="modify_passwd_btn" class="btn btn-primary btn-lg btn-block">保存以上基本信息</button>
                    </div>
                </div>

            </form>
        </div>

    </div>



</div>

<!-- Model  -->
<!--调用方法:model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');-->

<div id="model_tip" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
    <div class="modal-dialog modal-sm model_size">
        <div class="modal-content">
            <div class="model_head">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel" style="text-align: center">提示</h3>
            </div>
            <div class="model_body" id="model_tip_content">

            </div>
            <div class="model_foot">
                <div class="model_btn_close">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Model  -->

</body>
</html>