<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>导出优秀论文申请信息</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <style rel="stylesheet">
        .mid{
            min-height: 200px;
            border: 1px solid rgb(224,224,224);
        }
        .mid_body{
            height: auto;
            margin:0 auto;
        }
        .left{
            width:15%;
            min-height: 100px;
            float:left;
            border: 1px solid rgb(224,224,224);
        }
        .right{
            width:84%;
            min-height: 300px;
            float:right;
            border: 1px solid rgb(224,224,224);
        }

        .search{
            background-color: rgb(245,245,245);
        }
        .search .search_row{
            background-color: rgb(245,245,245);
            height:auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .table_body{
            margin-top: 30px;
        }
        .table_body thead{
            background-color:rgb(224,224,224) ;
            font-weight: 800;
        }
        .position ol{
            background-color: white;
        }
        .one_input{
            width:21%;
            height: 30px;
            float: left;
            margin-left: 20px;
        }
        .input_width{
            height: 30px;
        }
        .search_btn_div{
            float: left;
            margin-left: 10px;
        }

    </style>

    <script>
        $(document).ready(function () {
            search();
            select_all();
            no_select_all();
            exportExeclFile();
            exportLwtjbFile();
            exportThesisPdfFile();
        });

        //搜索按钮事件
        function search(){
            //talbe_wrap   search_btn   school  year  apply_status   student_type  realName
            $("#search_btn").click(function(){
                $.ajax({
                    type: "POST",
                    url: "/home/admin/thesis/search",
                    contentType: "application/json",
                    data: JSON.stringify({
//                        "department":$("#school").text(),
//                        "applyYear":$("#year").val(),
//                        "applyStatus":$("#apply_status").val(),
//                        "studentType":$("#student_type").val(),
//                        "zzxm":$("#realName").val(),
                    }),

                    beforeSend: function(XMLHttpRequest){
//                        $("#talbe_wrap").empty();
                    },

                    success: function(data){
//                        $("#talbe_wrap").html(data);
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                }); //ajax
            }) //click
        }
        //全选按钮事件
        function select_all(){
            //select_all_btn
            $("#select_all_btn").click(function () {
                // name="checkboxStatus"
                $("input[name='checkboxStatus']").prop("checked",true);
            })
        }

        //反选按钮事件
        function no_select_all(){
            //no_select_all_btn
            $("#no_select_all_btn").click(function () {
                // name="checkboxStatus"
                var checkbox = $("input[name='checkboxStatus']");
                checkbox.each(function () {
                    $(this).prop("checked", !$(this).prop("checked"));
                })
            })
        }


        //export_execl_file_btn  export_lwtjb_file_btn   export_thesis_pdf_file_btn
        //导出Excel基本信息表
        function exportExeclFile(){
            $("#export_thesis_pdf_file_btn").click(function () {

            })
        };
        //导出论文推荐表
        function exportLwtjbFile(){
            $("#export_lwtjb_file_btn").click(function () {

            })
        };
        //导出论文PDF文件
        function exportThesisPdfFile(){
            $("#export_thesis_pdf_file_btn").click(function () {

            })
        };

    </script>


</head>
<body>

<div class="search">
    <div class="search_row">
        <div class="one_input">
            <label for="department">申请年份</label>
            <select class="input_width" style="width: 70%">
                <option value="">请选择</option>
                <!--<option value="2016">2016</option>-->
                <option value="2017">2017</option>
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
                <option value="2028">2028</option>
                <option value="2029">2029</option>
                <option value="2030">2030</option>
                <option value="2031">2031</option>
                <option value="2032">2032</option>
                <option value="2033">2033</option>
                <option value="2034">2034</option>
                <option value="2035">2035</option>
            </select>
        </div>

        <div class="one_input">
            <label for="department">申请状态</label>
            <select class="input_width" style="width: 70%">
                <option value="通过审核" selected="selected">通过审核</option>
            </select>
        </div>

        <div class="one_input">
            <label for="department">学生类型</label>
            <select class="input_width" style="width: 70%">
                <option value="">请选择</option>
                <option value="硕士">硕士</option>
                <option value="博士">博士</option>
            </select>
        </div>

        <div class="one_input">
            <label for="department">学院</label>
            <select id="department" class="input_width" style="width: 85%">
                <option value="" selected="selected">请选择</option>
                <option value="机械科学与工程学院">机械科学与工程学院</option>
                <option value="计算机科学与技术学院">计算机科学与技术学院</option>
                <option value="生命科学与技术学院">生命科学与技术学院</option>
                <option value="电气与电子工程学院">电气与电子工程学院</option>
                <option value="材料科学与工程学院">材料科学与工程学院</option>
                <option value="船舶与海洋工程学院">船舶与海洋工程学院</option>
                <option value="能源与动力工程学院">能源与动力工程学院</option>
                <option value="自动化学院">自动化学院</option>
                <option value="光学与电子信息学院">光学与电子信息学院</option>
                <option value="水电与数字化工程学院">水电与数字化工程学院</option>
                <option value="软件学院">软件学院</option>
                <option value="环境科学与工程学院">环境科学与工程学院</option>
                <option value="电子信息与通信学院">电子信息与通信学院</option>
                <option value="建筑与城市规划学院">建筑与城市规划学院</option>
                <option value="土木工程与力学学院">土木工程与力学学院</option>
                <option value="化学与化工学院">化学与化工学院</option>
                <option value="数学与统计学院">数学与统计学院</option>
                <option value="物理学院">物理学院</option>
                <option value="公共管理学院">公共管理学院</option>
                <option value="经济学院">经济学院</option>
                <option value="管理学院">管理学院</option>
                <option value="人文学院">人文学院</option>
                <option value="新闻与信息传播学院">新闻与信息传播学院</option>
                <option value="马克思主义学院">马克思主义学院</option>
                <option value="社会学院">社会学院</option>
                <option value="法学院">法学院</option>
                <option value="外国语学院">外国语学院</option>
                <option value="基础医学院（含法医学系）">基础医学院（含法医学系）</option>
                <option value="药学院">药学院</option>
                <option value="医药卫生管理学院">医药卫生管理学院</option>
                <option value="公共卫生学院">公共卫生学院</option>
                <option value="附属协和医院">附属协和医院</option>
                <option value="附属同济医院（含附属梨园医院、计划生育研究所、护理学系）">附属同济医院（含附属梨园医院、计划生育研究所、护理学系）</option>
                <option value="教育科学研究院">教育科学研究院</option>
                <option value="中欧清洁与可再生能源学院">中欧清洁与可再生能源学院</option>
                <option value="国学研究院">国学研究院</option>
                <option value="体育部">体育部</option>
                <option value="武汉光电国家实验室">武汉光电国家实验室</option>
                <option value="工程科学学院">工程科学学院</option>
                <option value="武汉国际微电子学院">武汉国际微电子学院</option>
            </select>
        </div>



        <div class="search_btn_div">
            <button type="button" id="search_btn" class="btn btn-primary">查询</button>
        </div>
        <div class="clear"></div>
    </div>

</div>

<div class="table_body">
    <div class="row" style="margin-top: 50px;margin-bottom: 10px">
        <div class="col-md-1" style="margin-left: 10px">
            <button type="button" id="select_all_btn" class="btn btn-primary btn-xs">全选</button>
        </div>
        <div class="col-md-1" style="margin-left: -30px">
            <button type="button" id="no_select_all_btn" class="btn btn-primary btn-xs">反选</button>
        </div>
        <div class="col-md-2" style="margin-left: -30px">
            <button type="button" id="export_execl_file_btn" class="btn btn-success btn-xs">导出Excel文件</button>
        </div>
        <div class="col-md-2" style="margin-left: -30px">
            <button type="button" id="export_lwtjb_file_btn" class="btn btn-success btn-xs">导出论文推荐表</button>
        </div>
        <div class="col-md-2" style="margin-left: -30px">
            <button type="button" id="export_thesis_pdf_file_btn" class="btn btn-success btn-xs">导出论文pdf文件</button>
        </div>

    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <td>选择</td><td>申请年份</td><td>学院</td><td>学生类型</td><td>姓名</td><td>学号</td><td>论文题目</td><td>导师姓名</td><td>状态</td>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox" name="checkboxStatus" /></td>
            <td>2017</td>
            <td>计算机科学与技术学院</td>
            <td>硕士</td>
            <td>吴耀武</td>
            <td>M201376136</td>
            <td>基于HTTP协议的电力智能锁控系统设计与研究</td>
            <td>刘晓军</td>
            <td>同意</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>