<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>添加管理员</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" src="../static/js/general_help.js" th:src="@{/js/general_help.js}"></script>
    <script type="text/javascript" src="../static/js/admin_add_administrator.js" th:src="@{/js/admin_add_administrator.js}"></script>
    <style rel="stylesheet">

        .search .search_row{
            background-color: rgb(245,245,245);
            height:auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .table_body thead{
            background-color:rgb(224,224,224) ;
            font-weight: 800;
        }
        .position ol{
            background-color: white;
        }

        .modify_btn_div{
            font-size: larger;
            margin-top: 10px;
        }
    </style>

</head>
<body>

<div class="info_form">
    <div class="modify_btn_div">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <label>添加管理员账户</label>
            </div>

        </div>
    </div>


    <div id="modify_info_frame">

        <div id="basic_info_model">
            <form class="form-horizontal" id="basic_info_model_form" role="form" style="margin-top: 20px">

                <div class="form-group">
                    <div class="col-sm-3 _text_right input_tip"><label>身份:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="role" name="role" value="管理员" disabled="disabled" placeholder="身份"/>

                    </div>
                    <div class="col-sm-4 validate_warn" id="v_role"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>学号/教职工号:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="userId" name="userId" placeholder="教职工号"/>
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_userId"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>姓名:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="realName" name="realName" placeholder="姓名"/>
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_realName"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>联系方式:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="联系方式"/>
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_contactNumber"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>登录密码:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="password" class="form-control" id="password" name="password" placeholder="登录密码"/>
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_password"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>确认密码:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="确认密码"/>
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_repeatPassword"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>邮箱:</label></div>
                    <div class="col-sm-5" style="margin-left: -12px">
                        <input type="text" class="form-control" id="email" name="email" placeholder="邮箱"/>
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_email"></div>
                </div>

                <div class="form-group">

                    <div class="col-sm-3 _text_right input_tip"><label>邮箱验证码:</label></div>
                    <div class="col-sm-3" style="margin-left: -12px">
                        <input type="text" class="form-control" id="email_validate_code" name="email_validate_code" placeholder="邮箱验证码"/>
                    </div>
                    <div class="col-sm-2" style="margin-left: -12px">
                        <button type="button" id="emailVerify_btn" class="btn btn-default">发送邮箱验证码</button>
                    </div>
                    <div class="col-sm-4 validate_warn" id="v_email_validate_code"></div>
                </div>

                <div class="form-group" style="margin-top: 30px">
                    <div class="col-sm-offset-3 col-sm-5">
                        <button type="button" id="add_administrator_btn" class="btn btn-primary btn-lg btn-block">添加管理员</button>
                    </div>
                </div>

            </form>


        </div>

    </div>

</div>

<!-- Model  -->
<!--调用方法:model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');-->

<div id="model_tip" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
    <div class="modal-dialog modal-sm model_size">
        <div class="modal-content">
            <div class="model_head">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel" style="text-align: center">提示</h3>
            </div>
            <div class="model_body" id="model_tip_content">

            </div>
            <div class="model_foot">
                <div class="model_btn_close">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Model  -->

</body>
</html>