<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>管理员上传学生信息</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/MyAjaxForm.js" th:src="@{/js/MyAjaxForm.js}"></script>
    <script type="text/javascript" src="../static/js/general_help.js" th:src="@{/js/general_help.js}"></script>
    <script type="text/javascript" src="../static/js/admin_import_student_info.js" th:src="@{/js/admin_import_student_info.js}"></script>
    <style rel="stylesheet">

        .position ol{
            background-color: white;
        }

        .upload_warn{
            color: blue;
            font-size: larger;
            margin-top:20px;
        }
        .wrap_body{
            margin-left: 30px;
            margin-top: 50px;
        }
    </style>
    <script>


    </script>


</head>
<body>

    <div class="wrap_body">
        <div style="margin-bottom: 30px">
            <span class="key_word">上传毕业生学生信息到系统前请注意以下几点：</span><br/>
            一、只需上传今年毕业生的数据<br/>
            二、上传的数据文件格式为Execl文件格式<br/>
            三、上传前请先下载文件模板，将今年毕业生的数据复制到模板中，然后再上传。文件模板中包括学号、姓名、出生日期、二级学科码、二级学科名称、导师、论文中文题目、入学年份、获取学位时间、答辩时间字段信息。<br/>
            四、文件上传的数据会覆盖掉以前上传的数据，如果遗漏学生信息，下次上传需重新全部上传。<br/>
            五、系统会自动填充学生的一级学科代码和一级学科名称，如以一级学科码和一级学科名称发生变化，需联系系统开发人员。
        </div>
        <div style="margin-bottom: 30px">
            <span style="color: red">上传毕业生信息前请先下载毕业生信息文件模版，确保字段一致</span>
            <button type="button" id="downloadFile_btn" class="btn btn-primary">下载文件模板</button>
        </div>

        <div class="row">
            <form id="form1" name="form1">
                <div class="col-md-4"><input class="form-control" id="student_info_file" name="file" type="file" enctype="multipart/form-data" value="选择EXECL文件"/></div>
                <div class="col-md-4"><button type="button" id="uploadFile_btn" class="btn btn-primary">上传毕业生信息</button></div>
            </form>

        </div>
        <div class="upload_warn">
            <span id="file_status_warn">上传成功，已成功上传 <span class="text-danger" id="total_number">5600</span>条记录到系统中。</span><br/>
            <!--系统中现有<span class="text-danger">5600</span>条记录。-->
        </div>
    </div>


    <!-- Model  -->
    <!--调用方法:model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');-->

    <div id="model_tip" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-sm model_size">
            <div class="modal-content">
                <div class="model_head">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel" style="text-align: center">提示</h3>
                </div>
                <div class="model_body" id="model_tip_content">

                </div>
                <div class="model_foot">
                    <div class="model_btn_close">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Model  -->

    <!-- 文件上传  Model  -->

    <div id="model_file_status" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-sm model_size">
            <div class="modal-content">
                <div class="model_head">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" style="text-align: center">文件上传进度</h3>
                </div>
                <div class="model_body" id="model_file_status_content">
                    <div class="text-center text-info">文件正在上传，请不要关闭本窗口</div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 40%;">
                            <span class="sr-only">40% 完成</span>
                        </div>
                    </div>
                </div>
                <div class="model_foot">
                    <!--<div class="model_btn_close">-->
                        <!--<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- Model  -->


</body>
</html>