<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员激活教务员结果页面</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/general_help.js" th:src="@{/js/general_help.js}"></script>
    <script type="text/javascript" src="../static/js/admin_active_teacher_account_table.js" th:src="@{/js/admin_active_teacher_account_table.js}"></script>
    <script>

    </script>
</head>
<body>

    <div class="table_body">
    <div class="row" style="margin-top: 50px;margin-bottom: 10px">
        <div class="col-md-1" style="margin-left: 10px">
            <button type="button" id="select_all_btn" class="btn btn-primary btn-xs">全选</button>
        </div>
        <div class="col-md-1" style="margin-left: -30px">
            <button type="button" id="no_select_all_btn" class="btn btn-primary btn-xs">反选</button>
        </div>
        <div class="col-md-2" style="margin-left: -30px">
            <button type="button" id="active_btn" class="btn btn-success btn-xs">激活为学院教务员</button>
        </div>
        <div class="col-md-2" style="margin-left: -30px">
            <button type="button" id="cancel_active_btn" class="btn btn-danger btn-xs">取消激活</button>
        </div>

    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <td>选择</td><td>学院</td><td>教工号</td><td>姓名</td><td>联系方式</td><td>邮箱</td><td>状态</td>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox" name='checkboxStatus' /></td>
            <td>软件学院</td>
            <td class="userId">0185211</td>
            <td>程咬金</td>
            <td>18855661122</td>
            <td>zhyxhk@hust.mail.edu.cn</td>
            <td class="active_status">未激活</td>
        </tr>
        <tr>
            <td><input type="checkbox" name='checkboxStatus'/></td>
            <td>计算机科学与技术学院</td>
            <td class="userId">0185212</td>
            <td>张辉耀</td>
            <td>18855661122</td>
            <td>zhyxhk@hust.mail.edu.cn</td>
            <td class="active_status">已激活</td>
        </tr>

        </tbody>
    </table>
</div>

    <!-- Model  -->
    <!--调用方法:model_tip_show('model_tip1','model_tip_content1','系统繁忙请稍后再试!');-->

    <div id="model_tip" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-sm model_size">
            <div class="modal-content">
                <div class="model_head">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel1" style="text-align: center">提示</h3>
                </div>
                <div class="model_body" id="model_tip_content">

                </div>
                <div class="model_foot">
                    <div class="model_btn_close">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Model  -->

    <!-- 确定/取消 Model  -->
    <!--调用方法:model_ok_show("model_ok","model_ok_content","确认是否提交申请","model_ok_btn",success_func)-->
    <div id="model_ok" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-sm model_size">
            <div class="modal-content">
                <div class="model_head">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" style="text-align: center">提示</h3>
                </div>
                <div class="model_ok_body" id="model_ok_content">

                </div>
                <div class="model_foot">
                    <div class="model_ok_btn_close">
                        <button type="button" id="model_ok_btn" class="btn btn-primary">确&nbsp;&nbsp;定</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style=" float:right;margin-right:5px">取&nbsp;&nbsp;消</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Model  -->

</body>
</html>