<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>管理员上传学生信息</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/MyAjaxForm.js" th:src="@{/js/MyAjaxForm.js}"></script>
    <script type="text/javascript" src="../static/js/general_help.js" th:src="@{/js/general_help.js}"></script>
    <style rel="stylesheet">

        .position ol{
            background-color: white;
        }

        .upload_warn{
            color: blue;
            font-size: larger;
            margin-top:20px;
        }
    </style>
    <script>
        $(document).ready(function () {
            downloadFileModel();
            uploadStudentInfoFile();
        });

        function downloadFileModel(){
            //#downloadFile_btn
            $("#downloadFile_btn").click(function () {

            })
        };

        function uploadStudentInfoFile(){
            //#uploadFile_btn   #file_status_warn   #student_info_file
            $("#uploadFile_btn").click(function () {
                $("#file_status_warn").html("");
                var fileName = $("#student_info_file").val();
                //1. 判断未选择文件
                if(fileName==""){
                    model_tip_show('model_tip','model_tip_content','未选择文件');
                    return;
                }
                //2. 判断文件的后缀名是否为xls
                var file_extent = fileName.substring(fileName.lastIndexOf(".")+1);
                if(file_extent!="xls"){ //文件格式错误
                    model_tip_show('model_tip','model_tip_content','文件后缀名必须为xls格式');
                    return;
                }
                //3. 文件后缀名正确，弹出浮层
                $("#model_file_status").modal('show');
                //4. 提交文件,上传文件
                uploadStudentInfoFile1();
            })
        };

        function uploadStudentInfoFile1(){
            $("#form1").ajaxSubmit({
                url: "/home/admin/import/upload",
                type: "post",
                success: function (data) { //服务器回调函数
                    //1.关闭文件提示浮层
                    $("#model_file_status").modal('hide');
                    //{code:'',msg:'',errorRowNum:'',totalNum:''}
                    // 200:成功 --> totalNum     300:格式有误 --> errorRowNum
                    // 301:学号重复  --> errorRowNum     500:失败
                    var status = data.code;
                    var errorMsg;
                    var succMsg;
                    if(status == "200"){//文件上传成功
                        succMsg = "已经成功上传"+data.totalNum+"条记录到系统中";
                        model_tip_show('model_tip','model_tip_content',succMsg);
                    }
                    else if(status == "300"){//文件字段名不符合要求
                        errorMsg = "第"+data.errorRowNum+"行有字段为空或格式不符合要求";
                        model_tip_show('model_tip','model_tip_content',errorMsg);
                    }
                    else if(status == "301"){//学号重复
                        errorMsg = "第"+data.errorRowNum+"行的学号重复";
                        model_tip_show('model_tip','model_tip_content',errorMsg);
                    }
                    else // status =='500'
                        model_tip_show('model_tip','model_tip_content','上传失败,请检查所上传文件,稍后再试');
                } //success
            });
        }

    </script>


</head>
<body>

    <div style="margin-left: 30px;margin-top: 50px">
        <div style="margin-bottom: 30px">
            注意：上传的Excel文件的字段必须包含 作者学号、作者姓名、性别、出生年月、民族、导师姓名、论文题目、
            中文关键字、入学年月、获学位日期、一级学科代码、一级学科名称、二级学科代码、二级学科名称等字段。
        </div>
        <div style="margin-bottom: 30px">
            <span style="color: red">上传Excel文件前可以先下载Excel文件模版，确保Excel文件的字段是正确的</span>
            <button type="button" id="downloadFile_btn" class="btn btn-primary">下载文件模版</button>
        </div>

        <div class="row">
            <form id="form1" name="form1">
                <div class="col-md-4"><input class="form-control" id="student_info_file" name="file" type="file" enctype="multipart/form-data" value="选择EXECL文件"/></div>
                <div class="col-md-4"><button type="button" id="uploadFile_btn" class="btn btn-primary">上传学生信息库</button></div>
            </form>

        </div>
        <div class="upload_warn">
            <span id="file_status_warn">上传成功，已成功上传 <span class="text-danger">5600</span>条记录到系统中。</span><br/>
            系统中现有<span class="text-danger">5600</span>条记录。
        </div>
    </div>


    <!-- Model  -->
    <!--调用方法:model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');-->

    <div id="model_tip" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-sm model_size">
            <div class="modal-content">
                <div class="model_head">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel" style="text-align: center">提示</h3>
                </div>
                <div class="model_body" id="model_tip_content">

                </div>
                <div class="model_foot">
                    <div class="model_btn_close">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Model  -->

    <!-- 文件上传  Model  -->

    <div id="model_file_status" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-sm model_size">
            <div class="modal-content">
                <div class="model_head">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" style="text-align: center">文件上传进度</h3>
                </div>
                <div class="model_body" id="model_file_status_content">
                    <div class="text-center text-info">文件正在上传，请不要关闭本窗口</div>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 40%;">
                            <span class="sr-only">40% 完成</span>
                        </div>
                    </div>
                </div>
                <div class="model_foot">
                    <!--<div class="model_btn_close">-->
                        <!--<button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

    <!-- Model  -->


</body>
</html>