<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员导出结果页面</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/admin_export_thesis_info_divd_table.js" th:src="@{/js/admin_export_thesis_info_divd_table.js}"></script>
</head>
<body>
    <div class="table_body">
        <div class="row" style="margin-top: 50px;margin-bottom: 10px">
            <div class="col-md-1" style="margin-left: 10px">
                <button type="button" id="select_all_btn" class="btn btn-primary btn-xs">全选</button>
            </div>
            <div class="col-md-1" style="margin-left: -30px">
                <button type="button" id="no_select_all_btn" class="btn btn-primary btn-xs">反选</button>
            </div>
            <div class="col-md-2" style="margin-left: -30px">
                <button type="button" id="export_execl_file_btn" class="btn btn-success btn-xs">导出Excel文件</button>
            </div>
            <div class="col-md-2" style="margin-left: -30px">
                <button type="button" id="export_lwtjb_file_btn" class="btn btn-success btn-xs">导出论文推荐表</button>
            </div>
            <div class="col-md-2" style="margin-left: -30px">
                <button type="button" id="export_thesis_pdf_file_btn" class="btn btn-success btn-xs">导出论文pdf文件</button>
            </div>

        </div>
        <table class="table table-bordered table-striped">
            <thead>
            <td>选择</td><td>申请年份</td><td>学院</td><td>学生类型</td><td>姓名</td><td>学号</td><td>论文题目</td><td>导师姓名</td><td>状态</td>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" name="checkboxStatus" /></td>
                <td>2017</td>
                <td>计算机科学与技术学院</td>
                <td>硕士</td>
                <td>吴耀武</td>
                <td>M201376136</td>
                <td>基于HTTP协议的电力智能锁控系统设计与研究</td>
                <td>刘晓军</td>
                <td>同意</td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>