<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>优秀论文申请系统</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" src="../static/js/menu.js" th:src="@{/js/menu.js}"></script>
    <style rel="stylesheet">
        .mid{
            min-height: 200px;
        }
        .mid_body{
            height: auto;
            margin:0 auto;
        }
        .left{
            width:15%;
            min-height: 100px;
            float:left;
            border: 1px solid rgb(224,224,224);
        }
        .right{
            width:84%;
            min-height: 300px;
            float:right;
            border: 1px solid rgb(224,224,224);
        }

        .search{
            background-color: rgb(245,245,245);
        }
        .search .search_row{
            background-color: rgb(245,245,245);
            height:auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .table_body{
            margin-top: 30px;
        }
        .table_body thead{
            background-color:rgb(224,224,224) ;
            font-weight: 800;
        }
        .position ol{
            background-color: white;
        }
        .one_input{
            width:21%;
            height: 30px;
            float: left;
            margin-left: 20px;
        }
        .input_width{
            height: 30px;
        }
        .search_btn_div{
            float: left;
            margin-left: 10px;
        }

        .home_welcome_tip{
            margin-top: 10px;
            margin-left: 20px;
            font-size: larger;
            line-height: 30px;
        }
        .home_welcome_tip span{
            font-weight: 600;

        }
        .key_word{
            color: #ff0000;
            font-weight: 600;
        }

    </style>

    <script type="text/javascript">
        $(document).ready(function () {
//            t_report_thesis_btn   t_personal_info_btn
//            a_review_thesis_btn    a_export_thesis_info_btn    a_import_student_info_btn
//             a_active_teacher_btn   a_add_admin_account_btn   a_personal_info_btn

            // 学生模块 --> 申请优秀论文
            $("#s_thesis_apply_btn").click(function(){
                    $.ajax({
                        type: "POST",
                        url: "/home/student/apply/index",
                        contentType: "application/json",
                        data: JSON.stringify({

                        }),

                        beforeSend: function(XMLHttpRequest){
                        },

                        success: function(data){
                            $(".mid_body").html(data);
                        },
                        error: function(XMLHttpRequest, textStatus) {
                            if (XMLHttpRequest.status == 401) {
                                $("#home_right_wrap").html("您没有访问权限 ~");
                            } else {
                                $("#home_right_wrap").html("服务器繁忙, 请稍后再试 ~");
                            }
                        },
                        complete: function(XMLHttpRequest, textStatus){
                        }
                    }); // end ajax
            });

            // 学生模块 --> 查询论文审核状态
            $("#s_query_thesis_btn").click(function(){
                $.ajax({
                        type: "POST",
                        url: "/home/student/thesis/manage/index",
                        contentType: "application/json",
                        data: JSON.stringify({

                        }),

                        beforeSend: function(XMLHttpRequest){
                        },

                        success: function(data){
                            $("#home_right_wrap").html(data);
                        },
                        error: function(XMLHttpRequest, textStatus) {
                            if (XMLHttpRequest.status == 401) {
                                $("#home_right_wrap").html("您没有访问权限 ~");
                            } else {
                                $("#home_right_wrap").html("服务器繁忙, 请稍后再试 ~");
                            }
                        },
                        complete: function(XMLHttpRequest, textStatus){
                        }
                    }); // end ajax
            });

            // 学生模块 --> 管理个人信息
            $("#s_personal_info_btn").click(function () {
                $("#home_right_wrap").load("s_t_person_information.html");

            });

            //学院教务员模块
            $("#t_report_thesis_btn").click(function(){
                // $("#home_right_wrap").load("teacher_report_thesis.html");

                $.ajax({
                        type: "POST",
                        url: "/home/teacher/thesis/index",
                        contentType: "application/json",
                        data: JSON.stringify({

                        }),

                        beforeSend: function(XMLHttpRequest){
                        },

                        success: function(data){
                            $("#home_right_wrap").html(data);
                        },
                        error: function(XMLHttpRequest, textStatus) {
                            if (XMLHttpRequest.status == 401) {
                                $("#home_right_wrap").html("您没有访问权限 ~");
                            } else {
                                $("#home_right_wrap").html("服务器繁忙, 请稍后再试 ~");
                            }
                        },
                        complete: function(XMLHttpRequest, textStatus){
                        }
                    }); // end ajax
            });

            $("#t_personal_info_btn").click(function(){
                $("#home_right_wrap").load("s_t_person_information.html");
            });

            //管理员模块
            $("#a_review_thesis_btn").click(function(){
                // $("#home_right_wrap").load("admin_review_thesis.html");

                $.ajax({
                        type: "POST",
                        url: "/home/admin/thesis/index",
                        contentType: "application/json",
                        data: JSON.stringify({

                        }),

                        beforeSend: function(XMLHttpRequest){
                        },

                        success: function(data){
                            $("#home_right_wrap").html(data);
                        },
                        error: function(XMLHttpRequest, textStatus) {
                            if (XMLHttpRequest.status == 401) {
                                $("#home_right_wrap").html("您没有访问权限 ~");
                            } else {
                                $("#home_right_wrap").html("服务器繁忙, 请稍后再试 ~");
                            }
                        },
                        complete: function(XMLHttpRequest, textStatus){
                        }
                    }); // end ajax
            });

            $("#a_export_thesis_info_btn").click(function(){
                $("#home_right_wrap").load("admin_export_thesis_info.html");
            });
            $("#a_import_student_info_btn").click(function(){
                $("#home_right_wrap").load("admin_import_student_info.html");
            });
            $("#a_active_teacher_btn").click(function(){
                $("#home_right_wrap").load("admin_active_teacher_account.html");
            });
            $("#a_add_admin_account_btn").click(function(){

            });
            $("#a_personal_info_btn").click(function(){
                $("#home_right_wrap").load("admin_person_information.html");
            });
        })
    </script>

</head>
<body>

<div class="head">
    <a href="/home/index"><img src="../static/imgs/top_banner.png" th:src="@{/imgs/top_banner.png}" /></a>
    <div class="welcome_exit">
        欢迎您: <span th:text="${session.user.realName}">用户</span>&nbsp;&nbsp;&nbsp;
        <a href="/home/index">主页</a>&nbsp;&nbsp;
        <a href="/home/logout">安全退出</a>
    </div>

</div>
<div class="mid">
    <div class="mid_body">
        <div class="left">
            <div id="firstpane" class="menu_list">
                <h3 class="menu_head">学生模块</h3>
                <div style="display:none" class="menu_body">
                    <a id="s_thesis_apply_btn" href="javascript:void(0)">申请优秀论文</a>
                    <a id="s_query_thesis_btn" href="javascript:void(0)">查询论文审核状态</a>
                    <a id="s_personal_info_btn" href="javascript:void(0)">管理个人信息</a>
                </div>
                <h3 class="menu_head">学院教务员模块</h3>
                <div style="display:none" class="menu_body">
                    <a id="t_report_thesis_btn" href="javascript:void(0)">上报学生优秀论文</a>
                    <a id="t_personal_info_btn" href="javascript:void(0)">管理个人信息</a>
                </div>
                <h3 class="menu_head">学校管理员模块</h3>
                <div style="display:none" class="menu_body">
                    <a id="a_review_thesis_btn" href="javascript:void(0)">审核学院优秀论文上报</a>
                    <a id="a_export_thesis_info_btn" href="javascript:void(0)">导出优秀论文信息</a>
                    <a id="a_import_student_info_btn" href="javascript:void(0)">导入学生信息</a>
                    <a id="a_active_teacher_btn" href="javascript:void(0)">激活学院教务员账户</a>
                    <a id="a_add_admin_account_btn" href="javascript:void(0)">添加管理员</a>
                    <a id="a_personal_info_btn" href="javascript:void(0)">管理个人信息</a>
                </div>

            </div>

            <!-- 代码部分end -->
        </div>

        <div class="right">
            <div id="home_right_wrap">

                <div class="home_welcome_tip">
                    欢迎 <span th:text="${session.user.realName}">用户</span> 进入华中科技大学优秀论文申请系统。<br/>
                    一、您的学号/工号是 <span th:text="${session.user.userId}">M201476136</span>，邮箱为 <span th:text="${session.user.email}">meihao_private@126.com</span>，请牢记登录信息。<br/>
                    二、您可以点击<span>【管理个人信息】</span>修改自己的个人基本信息以及登录密码。<br/>
                    三、特别注意：如果您需要申请本年度华中科技大学优秀论文，请先查看优秀论文申请流程，
                    然后点击<span>【申请优秀论文】</span>,<br/>
 &nbsp;&nbsp;&nbsp;&nbsp;需要完整填写<span>《基本信息表》</span>和<span>《优秀论文推荐表》</span>，并上传电子档论文(pdf格式)。<br/>
 &nbsp;&nbsp;&nbsp;&nbsp;1、<span class="key_word">务必保证填写的信息真实</span>，如果填写的信息不真实，将会导致申请失败。<br/>
 &nbsp;&nbsp;&nbsp;&nbsp;2、《基本信息表》和《优秀论文推荐表》中很多字段由系统自动填充的，
                        不可更改，如果信息有误，请联系学院教务员。<br/>
 &nbsp;&nbsp;&nbsp;&nbsp;3、《基本信息表》最后需要上传论文的电子档(pdf格式)，
                    上传论文前，请检查论文页眉页脚和内容，<span class="key_word">确保论文中不能出现作者姓名、导师姓名和学校名称</span>。<br/>
     4、申请状态的过程为： 待学生提交-->待学院上报-->待学校审核-->通过审核

                </div>

            </div>

        </div>

        <div class="clear"></div>
    </div>
</div>


</body>
</html>