<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>优秀论文基本信息表</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet">
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet">
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet">
    <link href="../static/css/master_thesis_apply_sheet.css" th:href="@{/css/aster_thesis_apply_sheet.css}" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" src="../static/js/menu.js" th:src="@{/js/menu.js}"></script>
    <script type="text/javascript" src="../static/js/s_basic_info_validate.js" th:src="@{/js/s_basic_info_validate.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            basic_info_validate();
            basic_info_submit();
        });

        function basic_info_submit(){
            //  basic_info_form   basic_info_submit_btn
            //  ssdm   ssmc  xxdm   xxmc  zzxh  xh  cplx  gdfs  zzxm  xb
            // csny  mz  dsxm  lwtm  lwywtm  yjfx  zwgjz  lwys  gdlb  lwtjblj
            // lwywlj  rxny  hxwrq  yjxkm  yjxkmc  ejxkm  ejxkmc  zzzc  xxlxr  bz
            $("#basic_info_submit_btn").click(function(){
                var status = $("#basic_info_form").valid();
                if(status == false)  return;
                $.ajax({
                    type: "POST",
                    url: "",
                    contentType: "application/json",
                    data: JSON.stringify({
                        //  ssdm   ssmc  xxdm   xxmc  zzxh  xh  cplx  gdfs  zzxm  xb
                        "ssdm":$("#ssdm").val(),
                        "ssmc":$("#ssmc").val(),
                        "xxdm":$("#xxdm").val(),
                        "xxmc":$("#xxmc").val(),
                        "zzxh":$("#zzxh").val(),
                        "xh":$("#xh").val(),
                        "cplx":$("#cplx").val(),
                        "gdfs":$("#gdfs").val(),
                        "zzxm":$("#zzxm").val(),
                        "xb":$("#xb").val(),
                        // csny  mz  dsxm  lwtm  lwywtm  yjfx  zwgjz  lwys  gdlb  lwtjblj
                        "csny":$("#csny").val(),
                        "mz":$("#mz").val(),
                        "dsxm":$("#dsxm").val(),
                        "lwtm":$("#lwtm").val(),
                        "lwywtm":$("#lwywtm").val(),
                        "yjfx":$("#yjfx").val(),
                        "zwgjz":$("#zwgjz").val(),
                        "lwys":$("#lwys").val(),
                        "gdlb":$("#gdlb").val(),
                        "lwtjblj":$("#lwtjblj").val(),
                        // lwywlj  rxny  hxwrq  yjxkm  yjxkmc  ejxkm  ejxkmc  zzzc  xxlxr  bz
                        "lwywlj":$("#lwywlj").val(),
                        "rxny":$("#rxny").val(),
                        "hxwrq":$("#hxwrq").val(),
                        "yjxkm":$("#yjxkm").val(),
                        "yjxkmc":$("#yjxkmc").val(),
                        "ejxkm":$("#ejxkm").val(),
                        "ejxkmc":$("#ejxkmc").val(),
                        "zzzc":$("#zzzc").val(),
                        "xxlxr":$("#xxlxr").val(),
                        "bz":$("#bz").val(),
                    }),

                    beforeSend: function(XMLHttpRequest){
                    },

                    success: function(data){
//                        var status = data.code;
//                        var msg = data.msg;
//                        if(status == "200")  //学生注册成功
//                            location.assign("/studentSuccessRegister.html");
//                        else if(status == "201")  //教务员注册成功
//                            location.assign("/teacherSuccessRegister.html");
//                        else if(status == "300")  //邮箱验证码错误
//                            $("#v_validateCode").html(msg);
//                        else if(status == "500")  //服务器原因失败
//                            $("#validateWarn").html("系统繁忙请稍后再试");
//                        else
//                            var empty = "";
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                });
            }) //click

        }


    </script>

</head>
<body>

<div id="sheet_wrap">

    <div class="table_title">
        <span>湖北省优秀论文基本信息表</span>
    </div>


    <form id="basic_info_form">
        <table class="table" id="table0">
            <tbody>
            <tr>
                <td class="td_key">省市代码</td>
                <td><input type="text" disabled="disabled" id="ssdm" name="ssdm" value="42"/></td>
                <td class="td_key">省市名称</td>
                <td class="td_border_left"><input type="text" disabled="disabled" id="ssmc" name="ssmc" value="湖北省"/></td>
            </tr>
            <tr>
                <td class="td_key">学校代码</td>
                <td><input type="text" id="xxdm" name="xxdm" disabled="disabled" value="10487"/></td>
                <td class="td_key">学校名称</td>
                <td><input type="text" id="xxmc" name="xxmc" disabled="disabled" value="华中科技大学"/></td>
            </tr>

            <tr>
                <td class="td_key">作者学号</td><td><input type="text" id="zzxh" name="zzxh" placeholder="请填写正确的学号"/></td>
                <td class="td_key">序号</td><td><input type="text" id="xh" name="xh" disabled="disabled" placeholder="此项由学校管理员填写"/></td>
            </tr>
            <tr>
                <td class="td_key">参评类型</td>
                <td>
                    <select id="cplx" name="cplx">
                        <option value="">请选择</option>
                        <option value="湖北省优秀硕士论文评选（已授学位）">湖北省优秀硕士论文评选（已授学位）</option>
                        <option value="湖北省优秀博士论文评选（已授学位）">湖北省优秀博士论文评选（已授学位）</option>
                    </select>
                </td>
                <td class="td_key">攻读方式</td>
                <td>
                    <select id="gdfs" name="gdfs">
                        <option value="">请选择</option>
                        <option value="统招生">统招生</option>
                        <option value="联合培养">联合培养</option>
                        <option value="在职攻读">在职攻读</option>
                        <option value="同等学力">同等学力</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td_key">作者姓名</td>
                <td><input type="text" id="zzxm" name="zzxm" placeholder="姓名中间不允许有空格"/></td>
                <td class="td_key">作者性别</td>
                <td>
                    <select id="xb" name="xb">
                        <option value="">请选择</option>
                        <option value="男">男</option>
                        <option value="女">女</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="td_key">出生年月</td>
                <td><input type="text" id="csny" name="csny" disabled="disabled" placeholder="如199109"/></td>
                <td class="td_key">民族</td>
                <td><input type="text" id="mz" name="mz" disabled="disabled" placeholder="民族"/></td>
            </tr>

            <tr>
                <td class="td_key">导师姓名</td>
                <td><input type="text" id="dsxm" name="dsxm" placeholder="导师姓名，限填1人"/></td>
                <td class="td_key">论文题目</td>
                <td><input type="text" id="lwtm" name="lwtm" disabled="disabled" placeholder="论文题目"/></td>
            </tr>

            <tr>
                <td class="td_key">论文英文题目</td>
                <td colspan="3"><input type="text" id="lwywtm" name="lwywtm" placeholder="论文英文题目，最大长度200"/></td>
            </tr>

            <tr>
                <td class="td_key">研究方向</td><td><input type="text" id="yjfx" name="yjfx" placeholder="研究方向,最大长度100"/></td>
                <td class="td_key">中文关键字</td><td><input type="text" id="zwgjz" name="zwgjz" placeholder="中文关键字"/></td>
            </tr>

            <tr>
                <td class="td_key">论文页数</td>
                <td><input type="text" id="lwys" name="lwys" placeholder="论文页数，为数字，如72"/></td>
                <td class="td_key">攻读类别</td>
                <td>
                    <select id="gdlb" name="gdlb">
                        <option value="">请选择</option>
                        <option value="硕士学位">硕士学位</option>
                        <option value="硕士专业学位">硕士专业学位</option>
                        <option value="博士学位">博士学位</option>
                        <option value="博士专业学位">博士专业学位</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td class="td_key">Word论文推荐表路径</td>
                <td><input type="text" id="lwtjblj" name="lwtjblj" disabled="disabled" value="th:text='@{lwtjblj}'" placeholder="由系统自动生成"/></td>
                <td class="td_key">PDF论文原文路径</td>
                <td><input type="text" id="lwywlj" name="lwywlj" disabled="disabled" placeholder="由系统自动生成"/></td>
            </tr>

            <tr>
                <td class="td_key">入学年月</td><td>
                <input type="text" id="rxny" name="rxny" disabled="disabled" placeholder="入学年月"/></td>
                <td class="td_key">获学位日期</td>
                <td><input type="text" id="hxwrq" name="hxwrq" disabled="disabled" placeholder="获学位日期"/></td>
            </tr>

            <tr>
                <td class="td_key">一级学科码</td>
                <td><input type="text" id="yjxkm" name="yjxkm" disabled="disabled" placeholder="一级学科码"/></td>
                <td class="td_key">一级学科名称</td>
                <td><input type="text" id="yjxkmc" name="yjxkmc" disabled="disabled" placeholder="一级学科名称"/></td>
            </tr>

            <tr>
                <td class="td_key">二级学科码</td>
                <td><input type="text" id="ejxkm" name="ejxkm" disabled="disabled" placeholder="二级学科码"/></td>
                <td class="td_key">二级学科名称</td>
                <td><input type="text" id="ejxkmc" name="ejxkmc" disabled="disabled" placeholder="二级学科名称"/></td>
            </tr>

            <tr>
                <td class="td_key">作者职称</td>
                <td><input type="text" id="zzzc" name="zzzc" placeholder="作者职称，长度不超过10"/></td>
                <td class="td_key">学校联系人</td>
                <td><input type="text" id="xxlxr" name="xxlxr" disabled="disabled" value="王老师"/></td>
            </tr>

            <tr>
                <td class="td_key">备注</td>
                <td colspan="3"><input type="text" id="bz" name="bz" placeholder="长度不超过100，只标注特殊情况，如论文为非中文撰写，如英语撰写的，请备注“英文撰写”"/></td>
            </tr>
            <tr>
                <td class="td_key">论文上传（pdf格式）</td>
                <td colspan="3"><input type="file"/></td>
            </tr>


            </tbody>
        </table>

    </form>

    <div class="checkTure">

        <div class="checkTure_btn_div">
            <button type="button" id="basic_info_submit_btn" class="btn btn-primary">信息确认无误，提交保存</button>

        </div>
        <div class="check_msg validate_warn" id="m_table1_warn">

        </div>

    </div>

    <!--<div class="submit_btn_div">-->
    <!--<button type="button" class="btn btn-primary btn-block">以上信息确认无误，提交到系统</button>-->
    <!--</div>-->

</div>

</body>
</html>