<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>硕士学位论文推荐表</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
    <link href="../static/css/master_thesis_apply_sheet.css" th:href="@{/css/master_thesis_apply_sheet.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" src="../static/js/general_help.js" th:src="@{/js/general_help.js}"></script>
    <script type="text/javascript" src="../static/js/menu.js" th:src="@{/js/menu.js}"></script>
    <script type="text/javascript" src="../static/js/s_basic_info_validate.js" th:src="@{/js/s_basic_info_validate.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            m_apply_form1_validate();
            m_apply_form2_validate();
            m_apply_form3_validate();
            m_apply_form4_validate();

            m_apply_form1_submit();
            m_apply_form2_submit();
            m_apply_form3_submit();
            m_apply_form4_submit();
        });


        function m_apply_form1_validate(){
            // m_form1  m_form1_submit_btn  m_form1_warn
            // zzxh  zzxm  xb  csny  mz  lwtm  lwywtm  rxny
            // dbrq  hdxwrq  yjxkdm  yjxkmc  ejxkdm  ejxkmc  lwsjdyjfx
            $("#m_form1").validate({
                rules:{
                    // zzxh  zzxm  xb  csny  mz  lwtm  lwywtm  rxny
                    zzxh:{ //作者学号
                        required:true,
                    },
                    zzxm:{ //作者姓名
                        required:true,
                        maxlength:20,
                    },
                    xb:{ //性别
                        required:true,
                    },
                    csny:{ //出生年月
                        required:true,
                    },
                    mz:{ //民族
                        required:true,
                    },
                    lwtm:{ //论文题目
                        required:true,
                        maxlength:150,
                    },
                    lwywtm:{ //论文英文题目
                        required:true,
                        maxlength:200,
                    },
                    rxny:{ //入学年月
                        required:true,
                    },
                    // dbrq  hdxwrq  yjxkdm  yjxkmc  ejxkdm  ejxkmc  lwsjdyjfx
                    dbrq:{ //答辩日期
                        required:true,
                    },
                    hdxwrq:{ //获学位日期
                        required:true,
                        maxlength:8,
                    },
                    yjxkdm:{ //一级学科码
                        required:true,
                    },
                    yjxkmc:{ //一级学科名称
                        required:true,
                    },
                    ejxkdm:{ //二级学科码
                        required:true,
                    },
                    ejxkmc:{ //二级学科名称
                        required:true,
                    },
                    lwsjdyjfx:{ //论文涉及的研究方向
                        required:true,
                        maxlength:100,
                    },

                },
                messages:{
                    // zzxh  zzxm  xb  csny  mz  lwtm  lwywtm  rxny
                    zzxh:{ //作者学号
                        required:"作者学号不能为空",
                    },
                    zzxm:{ //作者姓名
                        required:"作者姓名不能为空",
                        maxlength:"作者姓名最长不超过20",
                    },
                    xb:{ //性别
                        required:"性别不能为空",
                    },
                    csny:{ //出生年月
                        required:"出生年月不能为空",
                    },
                    mz:{ //民族
                        required:"民族不能为空",
                    },
                    lwtm:{ //论文题目
                        required:"论文题目不能为空",
                        maxlength:"论文题目不超过150",
                    },
                    lwywtm:{ //论文英文题目
                        required:"论文英文题目不能为空",
                        maxlength:"论文英文题目长度不超过200",
                    },
                    rxny:{ //入学年月
                        required:"入学年月不能为空",
                    },
                    // dbrq  hdxwrq  yjxkdm  yjxkmc  ejxkdm  ejxkmc  lwsjdyjfx
                    dbrq:{ //答辩日期
                        required:"答辩日期不能为空",
                    },
                    hdxwrq:{ //获学位日期
                        required:"获学位日期不能为空",
                        maxlength:"获学位日期长度不超过8",
                    },
                    yjxkdm:{ //一级学科码
                        required:"一级学科码不能为空",
                    },
                    yjxkmc:{ //一级学科名称
                        required:"一级学科名称不能为空",
                    },
                    ejxkdm:{ //二级学科码
                        required:"二级学科码不能为空",
                    },
                    ejxkmc:{ //二级学科名称
                        required:"二级学科名称不能为空",
                    },
                    lwsjdyjfx:{ //论文涉及的研究方向
                        required:"论文涉及的研究方向不能为空",
                        maxlength:"论文涉及的研究方向最长不超过100",
                    },
                },//messages
                errorPlacement : function(error, element){
                    $("#m_form1_warn").html(error);
                }, //errorPlacement
            }) //validate
        };

        function m_apply_form2_validate(){
            //  m_form2   m_form2_submit_btn  m_form2_warn
            // dyzz  dezz  sci  ei  ssci  istp  zls  cgjx
            $("#m_form2").validate({
                rules:{
                    dyzz:{ //第一作者
                        required:true,
                        digits:true,
                    },
                    dezz:{ //第二作者
                        required:true,
                        digits:true,
                    },
                    sci:{ //SCI
                        required:true,
                        digits:true,
                    },
                    ei:{ //EI
                        required:true,
                        digits:true,
                    },
                    ssci:{ //SSCI
                        required:true,
                        digits:true,
                    },
                    istp:{ //ISTP
                        required:true,
                        digits:true,
                    },
                    zls:{ //ZLS
                        required:true,
                        digits:true,
                    },
                    cgjx:{ //出国进修
                        required:true,
                        maxlength:500,
                    },
                }, //rules
                messages:{
                    dyzz:{ //第一作者
                        required:"第一作者不能为空",
                        digits:"第一作者为数字",
                    },
                    dezz:{ //第二作者
                        required:"第二作者不能为空",
                        digits:"第二作者为数字",
                    },
                    sci:{ //SCI
                        required:"SCI不能为空",
                        digits:"SCI为数字",
                    },
                    ei:{ //EI
                        required:"EI不能为空",
                        digits:"EI位数字",
                    },
                    ssci:{ //SSCI
                        required:"SSCI不能为空",
                        digits:"SSCI为数字",
                    },
                    istp:{ //ISTP
                        required:"ISTP不能为空",
                        digits:"ISTP为数字",
                    },
                    zls:{ //ZLS
                        required:"ZLS不能为空",
                        digits:"ZLS位数字",
                    },
                    cgjx:{ //出国进修
                        required:"出国进修不能为空",
                        maxlength:"出国进修不超过500",
                    },
                }, //messages
                errorPlacement : function(error, element){
                    $("#m_form2_warn").html(error);
                }, //errorPlacement

            }) //validate
        }

        function m_apply_form3_validate(){
            // m_form3  m_form3_submit_btn  m_form3_warn
            // gdxwfs  bkjdxx  gdssxwdw  zzdw  zzdz
            // zzyb  zzdh  zc  zw  zdjsxm  zdjsyjfx
            $("#m_form3").validate({
                rules:{
                    // gdxwfs  bkjdxx  gdssxwdw  zzdw  zzdz
                    gdxwfs:{ //攻读硕士学位方式
                        required:true,
                    },
                    bkjdxx:{ //本科就读学校
                        required:true,
                        maxlength:30,
                    },
                    gdssxwdw:{ //攻读硕士学位单位
                        required:true,
                        maxlength:20
                    },
                    zzdw:{ //作者单位
                        required:true,
                        maxlength:30,
                    },
                    zzdz:{ //作者地址
                        required:true,
                        maxlength:50,
                    },

                    // zzyb  zzdh  zc  zw  zdjsxm  zdjsyjfx
                    zzyb:{ //作者邮编
                        required:true,
                        minlength:6,
                        maxlength:6,
                    },
                    zzdh:{ //作者电话
                        required:true,
                        number:true,
                        maxlength:11,
                        minlength:11,
                    },
                    zc:{ //职称
                        required:true,
                        maxlength:10,
                    },
                    zw:{ //职务
                        required:true,
                        maxlength:10,
                    },
                    zdjsxm:{ //指导教师姓名
                        required:true,
                        maxlength:10,
                    },
                    zdjsyjfx:{ //指导教师研究方向
                        required:true,
                        maxlength:15,
                    },
                }, //rules
                messages:{
                    // gdxwfs  bkjdxx  gdssxwdw  zzdw  zzdz
                    gdxwfs:{ //攻读硕士学位方式
                        required:"攻读硕士学位方式不能为空",
                    },
                    bkjdxx:{ //本科就读学校
                        required:"本科就读学校不能为空",
                        maxlength:"本科就读学校长度不超过30",
                    },
                    gdssxwdw:{ //攻读硕士学位单位
                        required:"攻读硕士学位单位不能为空",
                        maxlength:"攻读硕士学位单位长度不超过20",
                    },
                    zzdw:{ //作者单位
                        required:"作者单位不能为空",
                        maxlength:"作者单位长度不超过30",
                    },
                    zzdz:{ //作者地址
                        required:"作者地址不能为空",
                        maxlength:"作者地址长度不超过50",
                    },

                    // zzyb  zzdh  zc  zw  zdjsxm  zdjsyjfx
                    zzyb:{ //作者邮编
                        required:"作者邮编不能为空",
                        minlength:"邮编长度为6",
                        maxlength:"邮编长度为6",
                    },
                    zzdh:{ //作者电话
                        required:"作者电话不能为空",
                        number:"作者电话格式不正确",
                        maxlength:"作者电话长度为11",
                        minlength:"作者电话长度为11",
                    },
                    zc:{ //职称
                        required:"职称不能为空",
                        maxlength:"职称长度不超过10",
                    },
                    zw:{ //职务
                        required:"职务不能为空",
                        maxlength:"职务长度不超过10",
                    },
                    zdjsxm:{ //指导教师姓名
                        required:"指导教师姓名不能为空",
                        maxlength:"指导教师姓名长度不超过10",
                    },
                    zdjsyjfx:{ //指导教师研究方向
                        required:"指导教师研究方向不能为空",
                        maxlength:"指导教师研究方向长度不超过15",
                    },
                }, //messages
                errorPlacement : function(error, element){
                    $("#m_form3_warn").html(error);
                }, //errorPlacement
            }); //validate
        }


        function m_apply_form4_validate(){
            //  m_form4  m_form4_submit_btn  m_form4_warn
            //  fbxslw  cbzz  hjxm  lwdzycxd  dwtjyy  tbrq
            $("#m_form4").validate({
                rules:{
                    fbxslw:{ //发表学术论文
                        required:true,
                        maxlength:600,
                    },
                    cbzz:{ //出版专著
                        required:true,
                        maxlength:600,
                    },
                    hjxm:{ //获奖项目
                        required:true,
                        maxlength:500,
                    },
                    lwdzycxd:{ //论文主要创新点
                        required:true,
                        maxlength:600,
                    },
                    dwtjyy:{ //单位推荐意见
                        required:true,
                        maxlength:200,
                    },
                    tbrq:{ //单位推荐日期
                        required:true,
                        minlength:8,
                        maxlength:8,
                    },
                }, //rules
                messages:{
                    fbxslw:{ //发表学术论文
                        required:"发表学术论文不能为空",
                        maxlength:"发表学术论文长度不超过600",
                    },
                    cbzz:{ //出版专著
                        required:"出版专著不能为空",
                        maxlength:"出版专著长度不超过600",
                    },
                    hjxm:{ //获奖项目
                        required:"获奖项目不能为空",
                        maxlength:"获奖项目长度不超过500",
                    },
                    lwdzycxd:{ //论文主要创新点
                        required:"论文主要创新点不能为空",
                        maxlength:"论文主要创新点长度不超过600",
                    },
                    dwtjyy:{ //单位推荐意见
                        required:"单位推荐意见不能为空",
                        maxlength:"单位推荐意见长度不超过200",
                    },
                    tbrq:{ //单位推荐日期
                        required:"单位推荐日期不能为空",
                        minlength:"单位推荐日期长度为8",
                        maxlength:"单位推荐日期长度为8",
                    },
                }, //messages
                errorPlacement : function(error, element){
                    $("#m_form4_warn").html(error);
                }, //errorPlacement

            }); //validate
        }


        function m_apply_form1_submit(){
            // m_form1  m_form1_submit_btn  m_form1_warn
            // zzxh  zzxm  xb  csny  mz  lwtm  lwywtm  rxny
            // dbrq  hdxwrq  yjxkdm  yjxkmc  ejxkdm  ejxkmc  lwsjdyjfx
            $("#m_form1_submit_btn").click(function () {
                var status = $("#m_form1").valid();
                if(status == false) return;
                /////       URL                      /////
                $.ajax({
                    type: "POST",
                    url: "/home/student/apply/master/save",
                    contentType: "application/json",
                    data: JSON.stringify({
                        //  zzxh  zzxm  xb  csny  mz  lwtm  lwywtm  rxny
                        "zzxh":$("#zzxh").val(),
                        "zzxm":$("#zzxm").val(),
                        "xb":$("#xb").val(),
                        "csny":$("#csny").val(),
                        "mz":$("#mz").val(),
                        "lwtm":$("#lwtm").val(),
                        "lwywtm":$("#lwywtm").val(),
                        "rxny":$("#rxny").val(),

                        // dbrq  hdxwrq  yjxkdm  yjxkmc  ejxkdm  ejxkmc  lwsjdyjfx
                        "dbrq":$("#dbrq").val(),
                        "hdxwrq":$("#hdxwrq").val(),
                        "yjxkdm":$("#yjxkdm").val(),
                        "yjxkmc":$("#yjxkmc").val(),
                        "ejxkdm":$("#ejxkdm").val(),
                        "ejxkmc":$("#ejxkmc").val(),
                        "lwsjdyjfx":$("#lwsjdyjfx").val(),

                         "part":"part1",

                    }),

                    beforeSend: function(XMLHttpRequest){
                    },

                    success: function(data){
                        var status = data.code;
                        var msg = data.msg;
                        if(status == "200")  //信息保存成功
                            model_tip_show('model_tip','model_tip_content','保存成功');
                        else if(status == "500")  //服务器繁忙
                            model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');
                        else
                            var empty = "";
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                });

            })
        }

        function m_apply_form2_submit(){
            //  m_form2   m_form2_submit_btn  m_form2_warn
            // dyzz  dezz  sci  ei  ssci  istp  zls  cgjx
            $("#m_form2_submit_btn").click(function () {
                var status = $("#m_form2").valid();
                if(status == false)  return;
                /////          URL           ///////////
                $.ajax({
                    type: "POST",
                    url: "/home/student/apply/master/save",
                    contentType: "application/json",
                    data: JSON.stringify({
                        //  dyzz  dezz  sci  ei  ssci  istp  zls  cgjx
                        "dyzz":$("#dyzz").val(),
                        "dezz":$("#dezz").val(),
                        "sci":$("#sci").val(),
                        "ei":$("#ei").val(),
                        "ssci":$("#ssci").val(),
                        "istp":$("#istp").val(),
                        "zls":$("#zls").val(),
                        "cgjx":$("#cgjx").val(),

                        "part":"part2",


                    }),

                    beforeSend: function(XMLHttpRequest){
                    },

                    success: function(data){
                        var status = data.code;
                        var msg = data.msg;
                        if(status == "200")  //信息保存成功
                            model_tip_show('model_tip','model_tip_content','保存成功');
                        else if(status == "500")  //服务器繁忙
                            model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');
                        else
                            var empty = "";
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                });
            })
        }

        function m_apply_form3_submit(){
            // m_form3  m_form3_submit_btn  m_form3_warn
            // gdxwfs  bkjdxx  gdssxwdw  zzdw  zzdz
            // zzyb  zzdh  zc  zw  zdjsxm  zdjsyjfx
            $("#m_form3_submit_btn").click(function(){
                var status = $("#m_form3").valid();
                if(status == false)   return;
                /////          URL           ///////////
                $.ajax({
                    type: "POST",
                    url: "/home/student/apply/master/save",
                    contentType: "application/json",
                    data: JSON.stringify({
                        // gdxwfs  bkjdxx  gdssxwdw  zzdw  zzdz
                        "gdxwfs":$("#gdxwfs").val(),
                        "bkjdxx":$("#bkjdxx").val(),
                        "gdssxwdw":$("#gdssxwdw").val(),
                        "zzdw":$("#zzdw").val(),
                        "zzdz":$("#zzdz").val(),

                        // zzyb  zzdh  zc  zw  zdjsxm  zdjsyjfx
                        "zzyb":$("#zzyb").val(),
                        "zzdh":$("#zzdh").val(),
                        "zc":$("#zc").val(),
                        "zw":$("#zw").val(),
                        "zdjsxm":$("#zdjsxm").val(),
                        "zdjsyjfx":$("#zdjsyjfx").val(),

                        "part":"part3",

                    }),

                    beforeSend: function(XMLHttpRequest){
                    },

                    success: function(data){
                        var status = data.code;
                        var msg = data.msg;
                        if(status == "200")  //信息保存成功
                            model_tip_show('model_tip','model_tip_content','保存成功');
                        else if(status == "500")  //服务器繁忙
                            model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');
                        else
                            var empty = "";
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                });
            })
        }

        function m_apply_form4_submit(){
            //  m_form4  m_form4_submit_btn  m_form4_warn
            //  fbxslw  cbzz  hjxm  lwdzycxd  dwtjyy  tbrq
            $("#m_form4_submit_btn").click(function(){
                var status = $("#m_form4").valid();
                if(status == false)  return;
                $.ajax({
                    type: "POST",
                    url: "/home/student/apply/master/save",
                    contentType: "application/json",
                    data: JSON.stringify({
                        //  fbxslw  cbzz  hjxm  lwdzycxd  dwtjyy  tbrq
                        "fbxslw":$("#fbxslw").val(),
                        "cbzz":$("#cbzz").val(),
                        "hjxm":$("#hjxm").val(),
                        "lwdzycxd":$("#lwdzycxd").val(),
                        "dwtjyy":$("#dwtjyy").val(),
                        "tbrq":$("#tbrq").val(),

                        "part":"part4",

                    }),

                    beforeSend: function(XMLHttpRequest){
                    },

                    success: function(data){
                        var status = data.code;
                        var msg = data.msg;
                        if(status == "200")  //信息保存成功
                            model_tip_show('model_tip','model_tip_content','保存成功');
                        else if(status == "500")  //服务器繁忙
                            model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');
                        else
                            var empty = "";
                    },

                    error: function(XMLHttpRequest, textStatus) {
                    },

                    complete: function(XMLHttpRequest, textStatus){
                    }

                });
            }); //click
        }

    </script>

</head>
<body>

<div id="sheet_wrap">

    <div class="table_title">
        <span>湖北省优秀<span style="font-weight: 900;color: red">硕士</span>学位论文推荐表</span>
    </div>

    <form id="m_form1" class="border_top">
        <table class="table" id="table1">
            <tbody>
            <tr>
                <td class="td_key">作者学号</td>
                <td><input type="text" id="zzxh" name="zzxh" disabled="disabled" placeholder="作者学号" th:value="${session.user.userId}"/></td>
                <td class="td_key"><span class="font_star">*</span>作者姓名</td>
                <td><input type="text" id="zzxm" name="zzxm" placeholder="中间不能有空格" th:value="${masterThesisApply.zzxm}"/></td>
                <td class="td_key"><span class="font_star">*</span>性别</td>
                <td>
                    <select id="xb" name="xb">
                        <option value="">请选择</option>
                        <option value="男" th:if="${masterThesisApply.xb} == '男'" th:selected="selected">男</option>
                        <option value="男" th:unless="${masterThesisApply.xb} == '男'">男</option>
                        <option value="女" th:if="${masterThesisApply.xb} == '女'" th:selected="selected">女</option>
                        <option value="女" th:unless="${masterThesisApply.xb} == '女'">女</option>
                    </select>
                </td>
                <td class="td_key">出生年月</td>
                <td><input type="text" id="csny" name="csny" disabled="disabled" placeholder="出生年月,如199109" th:value="${masterThesisApply.csny}"/></td>

            </tr>
            <tr>
                <td class="td_key">民族</td>
                <td><input type="text" id="mz" disabled="disabled" name="mz" placeholder="民族"/></td>
                <td class="td_key">论文题目</td>
                <td colspan="5"><input type="text" id="lwtm" name="lwtm" disabled="disabled" placeholder="论文题目"/></td>
            </tr>
            <tr>
                <td class="td_key"><span class="font_star">*</span>论文英文题目</td>
                <td colspan="7"><input type="text" id="lwywtm" name="lwywtm" placeholder="论文英文题目" th:value="${masterThesisApply.lwywtm}"/></td>
            </tr>
            <tr>
                <td class="td_key">入学年月</td>
                <td><input type="text" id="rxny" name="rxny" disabled="disabled" placeholder="入学年月"/></td>

                <td class="td_key" colspan="2"><span class="font_star">*</span>论文答辩日期</td>
                <td><input type="text" id="dbrq" name="dbrq" placeholder="论文答辩日期" th:value="${masterThesisApply.dbrq}"/></td>
                <td class="td_key">获得硕士学位日期</td>
                <td colspan="2"><input type="text" id="hdxwrq" name="hdxwrq" disabled="disabled" placeholder="获得硕士学位日期"/></td>
            </tr>
            <tr>
                <td class="td_key">一级学科代码</td>
                <td><input type="text" id="yjxkdm" name="yjxkdm" disabled="disabled" placeholder="一级学科代码"/></td>

                <td class="td_key" colspan="2">一级学科名称</td>
                <td colspan="4"><input type="text" id="yjxkmc" name="yjxkmc" disabled="disabled" placeholder="一级学科名称"/></td>
            </tr>
            <tr>
                <td class="td_key">二级学科代码</td>
                <td><input type="text" id="ejxkdm" name="ejxkdm" disabled="disabled" placeholder="二级学科代码"/></td>

                <td class="td_key" colspan="2">二级学科名称</td>
                <td colspan="4"><input type="text" id="ejxkmc" name="ejxkmc" disabled="disabled" placeholder="二级学科名称"/></td>
            </tr>
            <tr>
                <td class="td_key" colspan="2"><span class="font_star">*</span>论文涉及的研究方向</td>
                <td colspan="6"><input type="text" id="lwsjdyjfx" name="lwsjdyjfx" placeholder="论文涉及的研究方向" th:value="${masterThesisApply.lwsjdyjfx}"/></td>
            </tr>
            </tbody>
        </table>
    </form>

    <div class="checkTure">

        <div class="checkTure_btn_div">

            <button type="button" id="m_form1_submit_btn" class="btn btn-primary">此部分信息确认无误，提交保存</button>
        </div>
        <div class="check_msg validate_warn" id="m_form1_warn">

        </div>

    </div>


    <form id="m_form2" class="border_top">
        <table class="table" id="table2">
            <tbody>
            <tr>
                <td rowspan="4" class="td_key"><span class="font_star">*</span><br />攻硕期间<br />及获得硕<br />士学位后<br />一年内</td>
                <td colspan="4" class="td_key"><span class="font_star">*</span>发表学术论文数</td>
                <td colspan="8" class="td_key"><span class="font_star">*</span>论文被检索数</td>
                <td class="td_key"><span class="font_star">*</span>获发明或实用新型专利数</td>
            </tr>
            <tr>
                <td class="td_key"><span class="font_star">*</span>第一作者</td>
                <td><input type="text" id="dyzz" name="dyzz" placeholder="第一作者" th:value="${masterThesisApply.dyzz}"/></td>

                <td class="td_key"><span class="font_star">*</span>第二作者</td>
                <td><input type="text" id="dezz" name="dezz" placeholder="第二作者" th:value="${masterThesisApply.dezz}"/></td>

                <td class="td_key"><span class="font_star">*</span>SCI</td><td>
                <input type="text" id="sci" name="sci" placeholder="SCI" th:value="${masterThesisApply.sci}"/></td>

                <td class="td_key"><span class="font_star">*</span>EI</td>
                <td><input type="text" id="ei" name="ei" placeholder="EI" th:value="${masterThesisApply.ei}"/></td>

                <td class="td_key"><span class="font_star">*</span>SSCI</td>
                <td><input type="text" id="ssci" name="ssci" placeholder="SSCI" th:value="${masterThesisApply.ssci}"/></td>

                <td class="td_key"><span class="font_star">*</span>ISTP</td>
                <td><input type="text" id="istp" name="istp" placeholder="ISTP" th:value="${masterThesisApply.istp}"/></td>
                <td><input type="text" id="zls" name="zls" placeholder="获发明或实用新型专利数" th:value="${masterThesisApply.zls}"/></td>

            </tr>
            <tr>
                <td colspan="13" class="td_key"><span class="font_star">*</span>出国进修的时间、国名、内容、(本栏信息不输入到数据库中)</td>
            </tr>
            <tr>
                <td colspan="13"><textarea rows="5" id="cgjx" name="cgjx" placeholder="出国进修的时间、国名、内容、(本栏信息不输入到数据库中)" th:value="${masterThesisApply.cgjx}"></textarea></td>
            </tr>
            </tbody>
        </table>
    </form>

    <div class="checkTure">

        <div class="checkTure_btn_div">
            <button type="button" id="m_form2_submit_btn" class="btn btn-primary">此部分信息确认无误，提交保存</button>
        </div>
        <div class="check_msg validate_warn" id="m_form2_warn">

        </div>

    </div>


    <form id="m_form3" class="border_top">
        <table class="table" id="table3">
            <tbody>
            <tr>
                <td class="td_key" colspan="2"><span class="font_star">*</span>攻读硕士学位方式</td>
                <td colspan="5" class="td_key">
                    <select id="gdxwfs" name="gdxwfs">
                        <option value="">请选择</option>
                        <option value="统招生" th:if="${masterThesisApply.gdxwfs} == '统招生'" th:selected="selected">统招生</option>
                        <option value="统招生" th:unless="${masterThesisApply.gdxwfs} == '统招生'">统招生</option>
                        <option value="联合培养" th:if="${masterThesisApply.gdxwfs} == '联合培养'" th:selected="selected">联合培养</option>
                        <option value="联合培养" th:unless="${masterThesisApply.gdxwfs} == '联合培养'">联合培养</option>
                        <option value="在职攻读" th:if="${masterThesisApply.gdxwfs} == '在职攻读'" th:selected="selected">在职攻读</option>
                        <option value="在职攻读" th:unless="${masterThesisApply.gdxwfs} == '在职攻读'">在职攻读</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td_key" colspan="2"><span class="font_star">*</span>本科就读学校</td>
                <td colspan="5"><input type="text" id="bkjdxx" name="bkjdxx" placeholder="本科就读学校" th:value="${masterThesisApply.bkjdxx}"/></td>

            </tr>
            <tr>
                <td class="td_key" colspan="2">攻读硕士学位单位</td>
                <td colspan="5"><input type="text" id="gdssxwdw" name="gdssxwdw" value="华中科技大学" disabled="disabled"/></td>
            </tr>
            <tr>
                <td class="td_key" rowspan="3">作者<br />现工<br />作情<br />况</td>
                <td class="td_key"><span class="font_star">*</span>作者单位</td>
                <td colspan="4"><input type="text" id="zzdw" name="zzdw" placeholder="作者单位" th:value="${masterThesisApply.zzdw}"/></td>
                <td class="td_key"><span class="font_star">*</span>作者邮编</td>
            </tr>
            <tr>
                <td class="td_key"><span class="font_star">*</span>作者地址</td>
                <td colspan="4"><input type="text" id="zzdz" name="zzdz" placeholder="作者地址" th:value="${masterThesisApply.zzdz}"/></td>
                <td><input type="text" id="zzyb" name="zzyb" placeholder="作者邮编" th:value="${masterThesisApply.zzyb}"/></td>
            </tr>
            <tr>
                <td class="td_key"><span class="font_star">*</span>作者电话</td>
                <td><input type="text" id="zzdh" name="zzdh" placeholder="作者电话" th:value="${masterThesisApply.zzdh}"/></td>
                <td class="td_key"><span class="font_star">*</span>职称</td>
                <td><input type="text" id="zc" name="zc" placeholder="职称" th:value="${masterThesisApply.zc}"/></td>
                <td class="td_key"><span class="font_star">*</span>职务</td>
                <td><input type="text" id="zw" name="zw" placeholder="职务" th:value="${masterThesisApply.zw}"/></td>
            </tr>
            <tr>
                <td class="td_key" colspan="2"><span class="font_star">*</span>指导教师姓名（限填1人）</td>
                <td><input type="text" id="zdjsxm" name="zdjsxm" placeholder="指导教师姓名（限填1人）" th:value="${masterThesisApply.zdjsxm}"/></td>
                <td class="td_key" colspan="2"><span class="font_star">*</span>指导教师研究方向</td>
                <td colspan="2"><input type="text" id="zdjsyjfx" name="zdjsyjfx" placeholder="指导教师研究方向" th:value="${masterThesisApply.zdjsyjfx}"/></td>
            </tr>
            </tbody>
        </table>

        <div class="checkTure">

            <div class="checkTure_btn_div">
                <button type="button" id="m_form3_submit_btn" class="btn btn-primary">此部分信息确认无误，提交保存</button>
            </div>
            <div class="check_msg validate_warn" id="m_form3_warn">

            </div>

        </div>

    </form>

    <form id="m_form4" class="border_top">
        <table class="table" id="table4">
            <thead>
            <tr><td class="t4_c1"></td><td class="t4_c2"></td><td class="t4_c3"></td></tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="3" class="td_key"><span class="font_star">*</span>攻硕期间及获得硕士学位后一年内获得与硕士学位论文有关的成果</td>
                <td class="td_key"><span class="font_star">*</span>发表学术论文（题目、刊物名称、时间）（限填5篇）</td>
                <td><textarea rows="6" id="fbxslw" class="td_key" name="fbxslw" placeholder="发表学术论文（题目、刊物名称、时间）（限填5篇）" th:value="${masterThesisApply.fbxslw}"></textarea></td>
            </tr>
            <tr>
                <td class="td_key"><span class="font_star">*</span>出版专著（名称、出版社、出版时间）</td>
                <td><textarea rows="6" id="cbzz" name="cbzz" placeholder="出版专著（名称、出版社、出版时间）" th:value="${masterThesisApply.cbzz}"></textarea></td>
            </tr>
            <tr>
                <td class="td_key"><span class="font_star">*</span>获奖项目（名称、等级及时间，（限填3项））及专利</td>
                <td><textarea rows="6" id="hjxm" name="hjxm" placeholder="获奖项目（名称、等级及时间，（限填3项））及专利" th:value="${masterThesisApply.hjxm}"></textarea></td>
            </tr>
            <tr>
                <td class="td_key"><span class="font_star">*</span>论文的主要创新点</td>
                <td colspan="2"><textarea rows="8" id="lwdzycxd" name="lwdzycxd" placeholder="论文的主要创新点" th:value="${masterThesisApply.lwdzycxd}"></textarea></td>
            </tr>
            <tr>
                <td class="td_key"><span class="font_star">*</span>单位推荐意见</td>
                <td colspan="2">
                    <textarea rows="8" id="dwtjyy" name="dwtjyy" placeholder="单位推荐意见">
                    </textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="td_key"><span class="font_star">*</span>填表日期</td>
                <td><input type="text" id="tbrq" name="tbrq" placeholder="填表日期，格式YYYYMMDD,如20161206" th:value="${masterThesisApply.tbrq}"/></td>
            </tr>
            </tbody>
        </table>

        <div class="checkTure">

            <div class="checkTure_btn_div">
                <button type="button" id="m_form4_submit_btn" class="btn btn-primary">此部分信息确认无误，提交保存</button>
            </div>
            <div class="check_msg validate_warn" id="m_form4_warn">

            </div>

        </div>
    </form>

    <!--<div class="submit_btn_div">-->
    <!--<button type="button" class="btn btn-primary btn-block">以上信息确认无误，提交到系统</button>-->
    <!--</div>-->

</div>


<!-- Model  -->
<!--调用方法:model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');-->
<div id="model_tip" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
    <div class="modal-dialog modal-sm model_size">
        <div class="modal-content">
            <div class="model_head">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title" id="myModalLabel" style="text-align: center">提示</h3>
            </div>
            <div class="model_body" id="model_tip_content">

            </div>
            <div class="model_foot">
                <div class="model_btn_close">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Model  -->

</body>
</html>