<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <title>学生查询论文状态</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet"/>
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet"/>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
    <link href="../static/css/s_query_thesis_status.css" th:href="@{/css/s_query_thesis_status.css}" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/general_help.js" th:src="@{/js/general_help.js}"></script>
    <script type="text/javascript" src="../static/js/s_query_thesis_status.js" th:src="@{/js/s_query_thesis_status.js}"></script>
</head>
<body>

    <div class="table_body">

        <table class="table table-bordered table-striped">
            <thead>
                <td></td><td>学号</td><td>姓名</td><td>学生类型</td><td>导师姓名</td><td>论文题目</td><td>申请状态</td><td>操作</td>
            </thead>
            <tbody>
            <tr th:if="${thesisBasicInfo} != null">
                <td><input type="checkbox" name="checkboxStatus"/></td>
                <td th:text="${thesisBasicInfo.zzxh}">请填写学号</td>
                <td th:text="${thesisBasicInfo.zzxm}">请填写姓名</td>
                <td th:text="${thesisBasicInfo.studentType}">请填写学生类型</td>
                <td th:text="${thesisBasicInfo.dsxm}">请填写导师姓名</td>
                <td th:text="${thesisBasicInfo.lwtm}">请填写论文题目</td>
                <td class="apply_status" th:text="${thesisBasicInfo.applyStatus}">暂无状态</td>
                <td>
                    <a href="#" id="checke_btn">查看</a>&nbsp;|&nbsp;
                    <a href="#" id="modify_btn">修改</a>&nbsp;|&nbsp;
                    <a href="#" id="delete_btn">删除</a>
                </td>
            </tr>
            <tr th:if="${thesisBasicInfo} == null">
                <td colspan="8" align="center">无记录, 赶紧去申请吧</td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="apply_btn_div">
        <button type="button" id="applyThesis_btn" class="btn btn-primary btn-lg">确认无误 提交申请</button>
    </div>

    <!-- Model  -->
    <!--调用方法:model_tip_show('model_tip','model_tip_content','系统繁忙请稍后再试!');-->

    <div id="model_tip" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-sm model_size">
            <div class="modal-content">
                <div class="model_head">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="myModalLabel" style="text-align: center">提示</h3>
                </div>
                <div class="model_body" id="model_tip_content">

                </div>
                <div class="model_foot">
                    <div class="model_btn_close">
                        <button type="button" id="model_tip_close_btn" class="btn btn-primary btn-block" data-dismiss="modal">关闭</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Model  -->


    <!-- 确定/取消 Model  -->
    <!--调用方法:model_ok_show("model_ok","model_ok_content","确认是否提交申请","model_ok_btn",success_func)-->

    <div id="model_ok" class="modal" tabindex="-5" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static" >
        <div class="modal-dialog modal-sm model_size">
            <div class="modal-content">
                <div class="model_head">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" style="text-align: center">提示</h3>
                </div>
                <div class="model_ok_body" id="model_ok_content">

                </div>
                <div class="model_foot">
                    <div class="model_ok_btn_close">
                        <button type="button" id="model_ok_btn" class="btn btn-primary">确&nbsp;&nbsp;定</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" style=" float:right;margin-right:5px">取&nbsp;&nbsp;消</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Model  -->

</body>
</html>