<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8" />
    <title>个人信息中心</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" />
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet" />
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet" />
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" src="../static/js/menu.js" th:src="@{/js/menu.js}"></script>
    <style rel="stylesheet">

        .search .search_row{
            background-color: rgb(245,245,245);
            height:auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .table_body thead{
            background-color:rgb(224,224,224) ;
            font-weight: 800;
        }
        .position ol{
            background-color: white;
        }

        .modify_btn_div{
            font-size: larger;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>



</head>
<body>

<div class="info_form">
    <div class="modify_btn_div">
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <a href="#">修改个人基本信息</a>
            </div>
            <div class="col-md-1">
                <a href="#">修改密码</a>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="register_form" role="form" style="margin-top: 20px">
        <div class="form-group">

            <div class="col-sm-3 _text_right input_tip"><label>身份:</label></div>
            <div class="col-sm-5" style="margin-left: -12px">
                <select disabled="disabled" class="form-control" id="role" name="role">
                    <option value="" selected="selected">请选择</option>
                    <option value="学生">学生</option>
                    <option value="学院教务员">学院教务员</option>
                    <option value="学院教务员">学校管理员</option>
                </select>

            </div>
            <div class="col-sm-4 validate_warn" id="v_role"></div>
        </div>

        <div class="form-group">

            <div class="col-sm-3 _text_right input_tip"><label>学号/教职工号:</label></div>
            <div class="col-sm-5" style="margin-left: -12px">
                <input type="text" disabled="disabled" class="form-control" id="userId" name="userId" placeholder="学号/教职工号">
            </div>
            <div class="col-sm-4 validate_warn" id="v_idnumber"></div>
        </div>


        <div class="form-group">

            <div class="col-sm-3 _text_right input_tip"><label>姓名:</label></div>
            <div class="col-sm-5" style="margin-left: -12px">
                <input type="text" class="form-control" id="realName" name="realName" placeholder="姓名">
            </div>
            <div class="col-sm-4 validate_warn" id="v_realName"></div>
        </div>


        <div class="form-group">

            <div class="col-sm-3 _text_right input_tip"><label>所在院系:</label></div>
            <div class="col-sm-5" style="margin-left: -12px">
                <select class="form-control" id="college" name="college">
                    <option value="" selected="selected">请选择</option>
                    <option value="机械科学与工程学院">机械科学与工程学院</option>
                    <option value="计算机科学与技术学院">计算机科学与技术学院</option>
                    <option value="生命科学与技术学院">生命科学与技术学院</option>
                    <option value="电气与电子工程学院">电气与电子工程学院</option>
                    <option value="材料科学与工程学院">材料科学与工程学院</option>
                    <option value="船舶与海洋工程学院">船舶与海洋工程学院</option>
                    <option value="能源与动力工程学院">能源与动力工程学院</option>
                    <option value="自动化学院">自动化学院</option>
                    <option value="光学与电子信息学院">光学与电子信息学院</option>
                    <option value="水电与数字化工程学院">水电与数字化工程学院</option>
                    <option value="软件学院">软件学院</option>
                    <option value="环境科学与工程学院">环境科学与工程学院</option>
                    <option value="电子信息与通信学院">电子信息与通信学院</option>
                    <option value="建筑与城市规划学院">建筑与城市规划学院</option>
                    <option value="土木工程与力学学院">土木工程与力学学院</option>
                    <option value="化学与化工学院">化学与化工学院</option>
                    <option value="数学与统计学院">数学与统计学院</option>
                    <option value="物理学院">物理学院</option>
                    <option value="公共管理学院">公共管理学院</option>
                    <option value="经济学院">经济学院</option>
                    <option value="管理学院">管理学院</option>
                    <option value="人文学院">人文学院</option>
                    <option value="新闻与信息传播学院">新闻与信息传播学院</option>
                    <option value="马克思主义学院">马克思主义学院</option>
                    <option value="社会学院">社会学院</option>
                    <option value="法学院">法学院</option>
                    <option value="外国语学院">外国语学院</option>
                    <option value="基础医学院（含法医学系）">基础医学院（含法医学系）</option>
                    <option value="药学院">药学院</option>
                    <option value="医药卫生管理学院">医药卫生管理学院</option>
                    <option value="公共卫生学院">公共卫生学院</option>
                    <option value="附属协和医院">附属协和医院</option>
                    <option value="附属同济医院（含附属梨园医院、计划生育研究所、护理学系）">附属同济医院（含附属梨园医院、计划生育研究所、护理学系）</option>
                    <option value="教育科学研究院">教育科学研究院</option>
                    <option value="中欧清洁与可再生能源学院">中欧清洁与可再生能源学院</option>
                    <option value="国学研究院">国学研究院</option>
                    <option value="体育部">体育部</option>
                    <option value="武汉光电国家实验室">武汉光电国家实验室</option>
                    <option value="工程科学学院">工程科学学院</option>
                    <option value="武汉国际微电子学院">武汉国际微电子学院</option>


                </select>

            </div>
            <div class="col-sm-4 validate_warn" id="v_college"></div>
        </div>

        <div class="form-group">

            <div class="col-sm-3 _text_right input_tip"><label>联系方式:</label></div>
            <div class="col-sm-5" style="margin-left: -12px">
                <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="联系方式">
            </div>
            <div class="col-sm-4 validate_warn" id="v_contactNumber"></div>
        </div>

        <div class="form-group">

            <div class="col-sm-3 _text_right input_tip"><label>邮箱:</label></div>
            <div class="col-sm-5" style="margin-left: -12px">
                <input type="text" class="form-control" id="email" name="email" placeholder="邮箱">
            </div>
            <div class="col-sm-4 validate_warn" id="v_email"></div>
        </div>


        <div class="form-group" style="margin-top: 30px">
            <div class="col-sm-offset-3 col-sm-5">
                <button type="button" id="register_btn" class="btn btn-primary btn-lg btn-block">保存以上基本信息</button>
            </div>
        </div>

    </form>

</div>

</body>
</html>