<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优秀论文推荐表</title>
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}" rel="stylesheet">
    <link href="../static/css/general.css" th:href="@{/css/general.css}" rel="stylesheet">
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet">
    <link href="../static/css/menu.css" th:href="@{/css/menu.css}" rel="stylesheet">
    <script type="text/javascript" src="../static/js/jquery-3.1.1.js" th:src="@{/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script type="text/javascript" src="../static/js/jquery.validate.js" th:src="@{/js/jquery.validate.js}"></script>
    <script type="text/javascript" src="../static/js/menu.js" th:src="@{/js/menu.js}"></script>
    <style rel="stylesheet">

        .mid{
            width:1000px;
            margin:0 auto;
            /*padding-top: 30px;*/
            min-height:300px;
            /*border: 1px solid rgb(224,224,224);*/
        }
        .student_type_class{
            width:320px;
            margin:0 auto;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#student_type").bind("change",function(){
                var student_type = $("#student_type").val();
                if(student_type=="硕士"){
                    $("#tjb_wrap").load("s_master_thesis_apply.html");
                }
                else if(student_type=="博士"){
                    $("#tjb_wrap").load("s_doctor_thesis_apply.html");
                }
                else
                    $("#tjb_wrap").html("");
            });
        });
    </script>

</head>
<body>

    <div class="student_type_class">
    <form class="form-inline" role="form">
        <div class="form-group has-success has-feedback">
        <label class="control-label" for="student_type">请先选择您的学生类型</label>
        <select class="form-control" id="student_type">
        <option value="">请选择</option>
        <option value="硕士">硕士</option>
        <option value="博士">博士</option>

        </select>
        </div>
    </form>
        <hr/>
    </div>
    <div id="tjb_wrap" style="margin-top: 50px">


    </div>


</body>
</html>